[APP]
WORKER = 16
QUEUE_SIZE = 128
DEBUG = false

[STORAGE]
REPOS_PATH = /dev/shm/repos
WORKFLOWS_PATH = /dev/null
BATCH_SIZE = 256

[WEB]
TRYOUT = 5
TIMEOUT = 3
TIMEOUT_THRESHOLD = 10

[DB]
HOST = localhost
USER = root
PASSWORD = <YOUR DB PASSWORD>
DBNAME = CIHunter
PORT = 5432
