[APP]
WORKER = 16
QUEUE_SIZE = 128
DEBUG = false
STAGE = index-maintainer

[STORAGE]
REPOS_PATH = /dev/shm/repos
WORKFLOWS_PATH = /dev/null
BATCH_SIZE = 256

[WEB]
GITHUB_TOKEN = <YOUR PERSONAL TOKEN 1>
GITHUB_TOKEN = <YOUR PERSONAL TOKEN 2>
GITHUB_TOKEN = <YOUR PERSONAL TOKEN 3>
TRYOUT = 5
TIMEOUT = 3
TIMEOUT_THRESHOLD = 10
SINCE_INTERVAL = 5000
MAX_SINCE = 461660000

[DB]
HOST = localhost
USER = root
PASSWORD = <YOUR DB PASSWORD>
DBNAME = CIHunter
PORT = 5432
